<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jxnu.dao.UserMapper">

    <select id="userLogin" resultType="Users">
        select * from users
        where username=#{arg0} and password=#{arg1}
    </select>

    <select id="queryUserIdByUsername" resultType="String">
        select userid from users
        where username=#{arg0}
    </select>

</mapper>